body {
    padding-top: 76px;
    overflow-y: hidden;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}



#search {
  background-image: url(../img/searchicon.png);
  background-size: 20px 20px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 14px;
  padding: 6px 12px 6px 40px;
  border: 1px solid #ddd;
  margin-top:-6px;
}

#mapid { 
 height: calc(100vh - 76px);
 box-sizing: border-box;
 }

.py-3{
  padding-top: 0;
}

.col{
  padding: 0!important;
}

.leaflet-bottom{
  top:0;
}

.leaflet-top{
  margin-top: 4px;
}


#sidebar-container{
  padding-top: 20px;
}